@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ededed;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #f9f9f9;
}

body {
  @apply bg-(--background) text-(--foreground) font-sans;
}
